.navbar {
    position: fixed;
}

.navbar_logo {
    height: 50px;
    width: 50px;
}

header {
    padding-top: 70px;
}

.bg-header {
    background-image: url("img/bg-header.jpg");
    height: 200px;
    background-size: cover;

}

.welcome-text {
    color:whitesmoke;
}